:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #13294b;
    --dark-blue: #24283b;
}

.light-theme {
    --bg: var{white};
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--dark-blue);
    --fontColor: var(--white);
}

a {
    text-decoration: none;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    margin: 0;
}

.header {
    background: var(--dark-blue);
    width: 100%;
}

.headerContent {
    color: var(--white);
    width: 100%;
    font-size:50px;
    padding: 20px 0 20px 0;
}

.text {
    color: var(--black);
    padding: 40px 13px 10px 10px;
}

.subheading {
    padding: 0;
    margin: 0;
}

.img {
    border-radius: 25px;
    float:right;
    width:17%;
    height:17%;
}
